$colors: (
  dark-primary: #C493FF,
  medium-primary: #604D78,
  light-primary: #3F354B,
  darkest: #171717,
  dark: #414141,
  light: #808080,
  lightest: #FFFFFF,
  light-error: #832C3D,
  dark-error: #832C3D
);