$font-sizes: (
  h1: 48px,
  h2: 36px,
  h3: 24px,
  h4: 20px,
  h5: 16px,
  body2: 16px,
  body1: 14px,
  sub2: 12px,
  sub1: 10px
);

$font-weights: (
  h1: 900,
  h2: 900,
  h3: 900,
  h4: 500,
  h5: 500,
  body2: 400,
  body1: 400,
  sub2: 400,
  sub1: 400
);