$colors: (
  dark-primary: #C493FF,
  medium-primary: #604D78,
  light-primary: #3F354B,
  darkest: #171717,
  dark: #414141,
  light: #808080,
  lightest: #FFFFFF,
  light-error: #832C3D,
  dark-error: #832C3D
);

$typography: (
  h1: (size: 48px, weight: 900),
  h2: (size: 36px, weight: 900),
  h3: (size: 24px, weight: 900),
  h4: (size: 20px, weight: 500),
  h5: (size: 16px, weight: 500),
  body2: (size: 16px, weight: 400),
  body1: (size: 14px, weight: 400),
  sub2: (size: 12px, weight: 400),
  sub1: (size: 10px, weight: 400),
);

@function get-font-size($map, $key...) {
  $result: $map;
  @each $k in $key {
    $result: map-get($result, $k);
  }
  @return $result;
}